@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <br />
    <h3>Welcome, @User.Identity.Name!</h3>
    <br />
    <a class="btn btn-primary" asp-controller="Login" asp-action="Logout">Logout</a>
}
